Source: qtractor
Section: sound
Priority: extra
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.2), libjack-dev, libasound2-dev,
  libsndfile-dev, ladspa-sdk, libvorbis-dev, libsamplerate-dev, libmad0-dev,
  librubberband-dev
Standards-Version: 3.7.2

Package: qtractor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An Audio/MIDI multi-track sequencer.
  Qtractor is an Audio/MIDI multi-track sequencer application
  written in C++ around the Qt4 toolkit using Qt Designer.
  The initial target platform will be Linux, where the Jack Audio
  Connection Kit (JACK) for audio, and the Advanced Linux Sound
  Architecture (ALSA) for MIDI, are the main infrastructures to
  evolve as a fairly-featured Linux Desktop Audio Workstation GUI,
  specially dedicated to the personal home-studio.

