[Desktop Entry]
Name=Qtractor
Version=1.0
GenericName=Multi-track Sequencer
GenericName[fr]=Séquenceur multi-pistes
Comment=Qtractor is an Audio/MIDI multi-track sequencer application
Comment[fr]=Qtractor est un séquenceur multi-pistes audio/MIDI
Exec=qtractor
Icon=qtractor
Categories=Audio;AudioVideo;Midi;Sequencer;X-Multitrack;X-Alsa;X-Jack;Qt;
MimeType=application/x-qtractor-session;application/x-qtractor-template;application/x-qtractor-archive;
Keywords=Audio;MIDI;Multitrack;Sequencer;DAW;ALSA;JACK;LADSPA;DSSI;VST;LV2;Qt;
Terminal=false
Type=Application
StartupWMClass=qtractor
X-Window-Icon=qtractor
X-SuSE-translate=true
